In [1]:
import pandas as pd

# Cleaning Wiki SB CSV

In [ ]:
wiki_df = pd.read_csv("./Outputs/sb_results_wiki.csv")

In [ ]:
# wiki_df.head()

In [ ]:
wiki_df.columns

In [ ]:
clean_wiki = wiki_df.drop(['Unnamed: 0', 'Ref'], axis=1)

In [ ]:
clean_wiki = clean_wiki.drop([54, 55, 56, 57, 58, 59])

In [ ]:
# clean_wiki

In [ ]:
# Run to Export CSV
# clean_wiki.to_csv("./Outputs/Cleaned/[Cleaned]Wiki-Superbowl-Results.csv")

# Cleaning Data.World SB CSV

In [ ]:
dataworld_df = pd.read_csv("./Outputs/data_world_Super_Bowl.csv")

In [ ]:
# dataworld_df

In [ ]:
clean_dataworld_df = dataworld_df.drop(['Referee', 'Umpire', 'Head Linesman', 'Line Judge', 'Field Judge', 'Back Judge', 'Side Judge'], axis=1)

In [ ]:
# clean_dataworld_df

In [ ]:
# Run to export CSV
# clean_dataworld_df.to_csv("./Outputs/Cleaned/[Cleaned]Data.World-Superbowl-Results.csv")

# Cleaning Rating_Data CSV

In [106]:
rating_df = pd.read_csv("./Outputs/rating_data.csv")

In [107]:
# rating_df

In [108]:
new_header = rating_df.iloc[0] #grab the first row for the header=

In [109]:
rating_df = rating_df[1:] #take the data less the header row

In [110]:
rating_df.columns = new_header #set the header row as the df header

In [111]:
rating_df = rating_df.sort_values(by='Year', ascending=True,ignore_index=True)

In [112]:
rating_new = rating_df.drop(rating_df.columns[1:5], axis=1)
# rating_new

In [113]:
rating_new = rating_new.drop(["Vwrs"], axis=1)

In [114]:
# rating_new

In [115]:
rating_new.rename(columns={'TV Vwrs': 'TV Viewers', 'Strm': 'Streaming', 'Spnsh': 'Spanish', 'OOH': 'Out Of Home'}, inplace=True)

In [116]:
total = 0.00
rating_new["Total"] = total

In [169]:
# Must convert to numbers first

# sum_column = rating_new["TV Viewers"] + rating_new["Streaming"]
# rating_new["Total"] = sum_column

rating_new

0   Year   TV Viewers  Streaming   Spanish  Out Of Home       Total
0   1967   51180000.0        0.0       0.0          0.0  51180000.0
1   1968   39120000.0        0.0       0.0          0.0         0.0
2   1969   41660000.0        0.0       0.0          0.0         0.0
3   1970   44270000.0        0.0       0.0          0.0         0.0
4   1971   46040000.0        0.0       0.0          0.0         0.0
5   1972   56640000.0        0.0       0.0          0.0         0.0
6   1973   53320000.0        0.0       0.0          0.0         0.0
7   1974   51700000.0        0.0       0.0          0.0         0.0
8   1975   56050000.0        0.0       0.0          0.0         0.0
9   1976   57710000.0        0.0       0.0          0.0         0.0
10  1977   62050000.0        0.0       0.0          0.0         0.0
11  1978   78940000.0        0.0       0.0          0.0         0.0
12  1979   74740000.0        0.0       0.0          0.0         0.0
13  1980   76240000.0        0.0       0.0          0.0         0.0
14  1981   68290000.0        0.0       0.0          0.0         0.0
15  1982   85240000.0        0.0       0.0          0.0         0.0
16  1983   81770000.0        0.0       0.0          0.0         0.0
17  1984   77620000.0        0.0       0.0          0.0         0.0
18  1985   85530000.0        0.0       0.0          0.0         0.0
19  1986   92570000.0        0.0       0.0          0.0         0.0
20  1987   87190000.0        0.0       0.0          0.0         0.0
21  1988   80140000.0        0.0       0.0          0.0         0.0
22  1989   81590000.0        0.0       0.0          0.0         0.0
23  1990   73850000.0        0.0       0.0          0.0         0.0
24  1991   79510000.0        0.0       0.0          0.0         0.0
25  1992   79590000.0        0.0       0.0          0.0         0.0
26  1993   90990000.0        0.0       0.0          0.0         0.0
27  1994   90000000.0        0.0       0.0          0.0         0.0
28  1995   83420000.0        0.0       0.0          0.0         0.0
29  1996   94080000.0        0.0       0.0          0.0         0.0
30  1997   87870000.0        0.0       0.0          0.0         0.0
31  1998   90000000.0        0.0       0.0          0.0         0.0
32  1999   83720000.0        0.0       0.0          0.0         0.0
33  2000   88470000.0        0.0       0.0          0.0         0.0
34  2001   84340000.0        0.0       0.0          0.0         0.0
35  2002   86800000.0        0.0       0.0          0.0         0.0
36  2003   88640000.0        0.0       0.0          0.0         0.0
37  2004   89800000.0        0.0       0.0          0.0         0.0
38  2005   86070000.0        0.0       0.0          0.0         0.0
39  2006   90750000.0        0.0       0.0          0.0         0.0
40  2007   93180000.0        0.0       0.0          0.0         0.0
41  2008   97450000.0        0.0       0.0          0.0         0.0
42  2009   98730000.0        0.0       0.0          0.0         0.0
43  2010  106480000.0        0.0       0.0          0.0         0.0
44  2011  111010000.0        0.0       0.0          0.0         0.0
45  2012  111350000.0   346000.0       0.0          0.0         0.0
46  2013  108690000.0   508000.0       0.0          0.0         0.0
47  2014  112190000.0   531000.0  561000.0          0.0         0.0
48  2015  114440000.0   973000.0  368000.0          0.0         0.0
49  2016  111860000.0  1400000.0  472000.0          0.0         0.0
50  2017  111320000.0  1720000.0  650000.0          0.0         0.0
51  2018  103390000.0  2020000.0  543000.0   12000000.0         0.0
52  2019   98190000.0  2600000.0  473000.0   12000000.0         0.0
53  2020  100450000.0  3400000.0  757000.0   13000000.0         0.0

In [170]:
print(rating_new.dtypes)

0
Year            object
TV Viewers     float64
Streaming      float64
Spanish        float64
Out Of Home    float64
Total          float64
dtype: object

In [118]:
rating_new['TV Viewers'] = rating_new["TV Viewers"].str.replace(r'M$', '')

In [119]:
rating_new['Streaming'] = rating_new["Streaming"].str.replace(r'K$', '000')

In [120]:
rating_new['Streaming'] = rating_new["Streaming"].str.replace(r'M$', '')

In [121]:
rating_new['Spanish'] = rating_new["Spanish"].str.replace(r'K$', '000')

In [122]:
rating_new['Out Of Home'] = rating_new["Out Of Home"].str.replace(r'M$', '000000')

In [123]:
rating_new['TV Viewers'] = rating_new["TV Viewers"].astype(float) * 1000000

In [124]:
rating_new['Streaming'] = rating_new['Streaming'].str.replace(r'—$', '0.0')

In [125]:
rating_new['Spanish'] = rating_new['Spanish'].str.replace(r'—$', '0.0')

In [126]:
rating_new['Out Of Home'] = rating_new["Out Of Home"].str.replace(r'—$', '0.0')

In [131]:
rating_new['Streaming'] = rating_new["Streaming"].astype(float)

In [142]:
rating_new.loc[50:55, 'Streaming'] = rating_new.loc[50:55, 'Streaming'] * 1000000

In [144]:
rating_new['Spanish'] = rating_new["Spanish"].astype(float)

In [145]:
rating_new['Out Of Home'] = rating_new["Out Of Home"].astype(float)

In [172]:
sb1_tot_viewers = rating_new.loc[0, 'TV Viewers'] + rating_new.loc[1, 'TV Viewers']
sb1_tot_viewers

90300000.0

In [153]:
rating_new.loc[-1] = ["1967", sb1_tot_viewers, 0.0, 0.0, 0.0, sb1_tot_viewers]

In [156]:
rating_new.index = rating_new.index + 1

In [157]:
rating_new = rating_new.sort_index()

In [163]:
rating_new = rating_new.drop([1, 2])

In [166]:
rating_new = rating_new.reset_index()

In [168]:
rating_new = rating_new.drop(['index'], axis=1)

In [174]:
rating_new.to_csv("./Outputs/Cleaned/[Cleaned]TV-Ratings.csv")