In [1]:
import pandas as pd

# Cleaning Wiki SB CSV

In [2]:
wiki_df = pd.read_csv("./Outputs/sb_results_wiki.csv")

In [3]:
# wiki_df.head()

In [4]:
wiki_df.columns

Index(['Unnamed: 0', 'Game', 'Date/Season', 'Winning team', 'Score',
       'Losing team', 'Venue', 'City', 'Attendance', 'Ref'],
      dtype='object')

In [5]:
clean_wiki = wiki_df.drop(['Unnamed: 0', 'Ref'], axis=1)

In [6]:
clean_wiki = clean_wiki.drop([54, 55, 56, 57, 58, 59])

In [7]:
# clean_wiki

In [8]:
# Run to Export CSV
# clean_wiki.to_csv("./Outputs/Cleaned/[Cleaned]Wiki-Superbowl-Results.csv")

# Cleaning Data.World SB CSV

In [9]:
dataworld_df = pd.read_csv("./Outputs/data_world_Super_Bowl.csv")

In [10]:
# dataworld_df

In [11]:
clean_dataworld_df = dataworld_df.drop(['Referee', 'Umpire', 'Head Linesman', 'Line Judge', 'Field Judge', 'Back Judge', 'Side Judge'], axis=1)

In [12]:
# clean_dataworld_df

In [13]:
# Run to export CSV
# clean_dataworld_df.to_csv("./Outputs/Cleaned/[Cleaned]Data.World-Superbowl-Results.csv")

# Cleaning Rating_Data CSV

In [50]:
rating_df = pd.read_csv("./Outputs/rating_data.csv")

In [51]:
rating_df

,Year,Game,Margin,Net,Overall,Overall.1,Overall.2,Overall.3,Overall.4,A18-49,A18-49.1
0,Year,Game,Margin,Net,Rtg,TV Vwrs,Strm,Spnsh,OOH,Rtg,Vwrs
1,2020,KC-SF,KC +11,FOX,41.6,100.45M,3.4M,757K,13M,29.9,38.67M
2,2019,NE-LAR,NE +10,CBS,41.1,98.19M,2.6M,473K,12M,31.0,39.95M
3,2018,PHI-NE,PHI +8,NBC,43.1,103.39M,2.02M,543K,12M,33.4,43.00M
4,2017,NE-ATL,NE +6 (OT),FOX,45.3,111.32M,1.72M,650K,—,37.1,47.62M
5,2016,DEN-CAR,DEN +14,CBS,46.6,111.86M,1.40M,472K,—,37.7,47.86M
6,2015,NE-SEA,NE +4,NBC,47.5,114.44M,973K,368K,—,39.1,49.71M
7,2014,SEA-DEN,SEA +35,FOX,46.7,112.19M,531K,561K,—,39.3,49.87M
8,2013,BAL-SF,BAL +3,CBS,46.4,108.69M,508K,—,—,39.7,50.22M
9,2012,NYG-NE,NYG +4,NBC,47.0,111.35M,346K,—,—,40.5,51.84M
10,2011,GB-PIT,GB +6,FOX,46.0,111.01M,—,—,—,39.9,52.48M
11,2010,NO-IND,NO +14,CBS,45.0,106.48M,—,—,—,38.6,50.82M
12,2009,PIT-ARIZ,PIT +4,NBC,42.0,98.73M,—,—,—,36.7,48.45M
13,2008,NYG-NE,NYG +3,FOX,43.1,97.45M,—,—,—,37.5,49.19M
14,2007,IND-CHI,IND +12,CBS,42.6,93.18M,—,—,—,35.2,n.a.
15,2006,PIT-SEA,PIT +11,ABC,41.6,90.75M,—,—,—,34.6,45.01M
16,2005,NE-PHI,NE +3,FOX,41.1,86.07M,—,—,—,33.2,43.14M
17,2004,NE-CAR,NE +3,CBS,41.4,89.80M,—,—,—,35.7,46.00M
18,2003,TB-OAK,TB +27,ABC,40.7,88.64M,—,—,—,36.4,46.86M
19,2002,NE-STL,NE +3,FOX,40.4,86.80M,—,—,—,34.7,n.a.
20,2001,BAL-NYG,BAL +27,CBS,40.4,84.34M,—,—,—,35.8,n.a.
21,2000,STL-TEN,STL +7,ABC,43.3,88.47M,—,—,—,37.9,n.a.
22,1999,DEN-ATL,DEN +15,FOX,40.2,83.72M,—,—,—,36.4,n.a.
23,1998,DEN-GB,DEN +7,NBC,44.5,90.00M,—,—,—,n.a.,n.a.
24,1997,GB-NE,GB +14,FOX,43.3,87.87M,—,—,—,n.a.,n.a.
25,1996,DAL-PIT,DAL +10,NBC,46.0,94.08M,—,—,—,41.2,n.a.
26,1995,SF-SD,SF +23,ABC,41.3,83.42M,—,—,—,n.a.,n.a.
27,1994,DAL-BUF,DAL +17,NBC,45.5,90.00M,—,—,—,n.a.,n.a.
28,1993,DAL-BUF,DAL +35,NBC,45.1,90.99M,—,—,—,n.a.,n.a.
29,1992,WSH-BUF,WSH +13,CBS,40.3,79.59M,—,—,—,n.a.,n.a.
30,1991,NYG-BUF,NYG +1,ABC,41.9,79.51M,—,—,—,n.a.,n.a.
31,1990,SF-DEN,SF +45,CBS,39.0,73.85M,—,—,—,n.a.,n.a.
32,1989,SF-CIN,SF +4,NBC,43.5,81.59M,—,—,—,n.a.,n.a.
33,1988,WSH-DEN,WSH +32,ABC,41.9,80.14M,—,—,—,n.a.,n.a.
34,1987,NYG-DEN,NYG +19,CBS,45.8,87.19M,—,—,—,n.a.,n.a.
35,1986,CHI-NE,CHI +36,NBC,48.3,92.57M,—,—,—,n.a.,n.a.
36,1985,SF-MIA,SF +22,ABC,46.4,85.53M,—,—,—,n.a.,n.a.
37,1984,LA Raiders-WSH,LA +29,CBS,46.4,77.62M,—,—,—,n.a.,n.a.
38,1983,WSH-MIA,WSH +10,NBC,48.6,81.77M,—,—,—,n.a.,n.a.
39,1982,SF-CIN,SF +5,CBS,49.1,85.24M,—,—,—,n.a.,n.a.
40,1981,OAK-PHI,OAK +17,NBC,44.4,68.29M,—,—,—,n.a.,n.a.
41,1980,PIT-LA Rams,PIT +12,CBS,46.3,76.24M,—,—,—,n.a.,n.a.
42,1979,PIT-DAL,PIT +4,NBC,47.1,74.74M,—,—,—,n.a.,n.a.
43,1978,DAL-DEN,DAL +17,CBS,47.2,78.94M,—,—,—,n.a.,n.a.
44,1977,OAK-MIN,OAK +18,NBC,44.4,62.05M,—,—,—,n.a.,n.a.
45,1976,PIT-DAL,PIT +4,CBS,42.3,57.71M,—,—,—,n.a.,n.a.
46,1975,PIT-MIN,PIT +10,NBC,42.4,56.05M,—,—,—,n.a.,n.a.
47,1974,MIA-MIN,MIA +17,CBS,41.6,51.70M,—,—,—,n.a.,n.a.
48,1973,MIA-WSH,MIA +7,NBC,42.7,53.32M,—,—,—,n.a.,n.a.
49,1972,DAL-MIA,DAL +21,CBS,44.2,56.64M,—,—,—,n.a.,n.a.
50,1971,BAL (Colts)-DAL,BAL +3,NBC,39.9,46.04M,—,—,—,n.a.,n.a.
51,1970,KC-MIN,KC +16,CBS,39.4,44.27M,—,—,—,n.a.,n.a.
52,1969,NYJ-BAL (Colts),NYJ +9,NBC,36.0,41.66M,—,—,—,n.a.,n.a.
53,1968,GB-OAK,GB +19,CBS,36.8,39.12M,—,—,—,n.a.,n.a.
54,1967,GB-KC,GB +25,CBS,22.6,26.75M,—,—,—,n.a.,n.a.
55,1967,GB-KC,GB +25,NBC,18.5,24.43M,—,—,—,n.a.,n.a.

In [52]:
new_header = rating_df.iloc[0] #grab the first row for the header=

In [53]:
rating_df = rating_df[1:] #take the data less the header row

In [54]:
rating_df.columns = new_header #set the header row as the df header

In [55]:
rating_df = rating_df.sort_values(by='Year', ascending=True,ignore_index=True)

In [56]:
# sorted_ratings['TV Vwrs'] = sorted_ratings['TV Vwrs'].str.replace(r'M$', '')
# rating_df

In [57]:
rating_new = rating_df.drop(rating_df.columns[1:5], axis=1)
# rating_new

In [58]:
rating_new = rating_new.drop(["Vwrs"], axis=1)

In [59]:
# rating_new

In [60]:
rating_new.rename(columns={'TV Vwrs': 'TV Viewers', 'Strm': 'Streaming', 'Spnsh': 'Spanish', 'OOH': 'Out Of Home'}, inplace=True)

In [61]:
total = 0
rating_new["Total"] = total
rating_new

0   Year TV Viewers Streaming Spanish Out Of Home  Total
0   1967     24.43M         —       —           —      0
1   1967     26.75M         —       —           —      0
2   1968     39.12M         —       —           —      0
3   1969     41.66M         —       —           —      0
4   1970     44.27M         —       —           —      0
5   1971     46.04M         —       —           —      0
6   1972     56.64M         —       —           —      0
7   1973     53.32M         —       —           —      0
8   1974     51.70M         —       —           —      0
9   1975     56.05M         —       —           —      0
10  1976     57.71M         —       —           —      0
11  1977     62.05M         —       —           —      0
12  1978     78.94M         —       —           —      0
13  1979     74.74M         —       —           —      0
14  1980     76.24M         —       —           —      0
15  1981     68.29M         —       —           —      0
16  1982     85.24M         —       —           —      0
17  1983     81.77M         —       —           —      0
18  1984     77.62M         —       —           —      0
19  1985     85.53M         —       —           —      0
20  1986     92.57M         —       —           —      0
21  1987     87.19M         —       —           —      0
22  1988     80.14M         —       —           —      0
23  1989     81.59M         —       —           —      0
24  1990     73.85M         —       —           —      0
25  1991     79.51M         —       —           —      0
26  1992     79.59M         —       —           —      0
27  1993     90.99M         —       —           —      0
28  1994     90.00M         —       —           —      0
29  1995     83.42M         —       —           —      0
30  1996     94.08M         —       —           —      0
31  1997     87.87M         —       —           —      0
32  1998     90.00M         —       —           —      0
33  1999     83.72M         —       —           —      0
34  2000     88.47M         —       —           —      0
35  2001     84.34M         —       —           —      0
36  2002     86.80M         —       —           —      0
37  2003     88.64M         —       —           —      0
38  2004     89.80M         —       —           —      0
39  2005     86.07M         —       —           —      0
40  2006     90.75M         —       —           —      0
41  2007     93.18M         —       —           —      0
42  2008     97.45M         —       —           —      0
43  2009     98.73M         —       —           —      0
44  2010    106.48M         —       —           —      0
45  2011    111.01M         —       —           —      0
46  2012    111.35M      346K       —           —      0
47  2013    108.69M      508K       —           —      0
48  2014    112.19M      531K    561K           —      0
49  2015    114.44M      973K    368K           —      0
50  2016    111.86M     1.40M    472K           —      0
51  2017    111.32M     1.72M    650K           —      0
52  2018    103.39M     2.02M    543K         12M      0
53  2019     98.19M      2.6M    473K         12M      0
54  2020    100.45M      3.4M    757K         13M      0

In [62]:
# Must convert to numbers first

# sum_column = rating_new["TV Viewers"] + rating_new["Streaming"]
# rating_new["Total"] = sum_column

In [64]:
for row in range(len(rating_new)):
    print(rating_new.loc[row, "TV Viewers"])
    rating_new['TV Viewers'] = rating_new["TV Viewers"].str.replace(r'M$', '')

24.43
26.75
39.12
41.66
44.27
46.04
56.64
53.32
51.70
56.05
57.71
62.05
78.94
74.74
76.24
68.29
85.24
81.77
77.62
85.53
92.57
87.19
80.14
81.59
73.85
79.51
79.59
90.99
90.00
83.42
94.08
87.87
90.00
83.72
88.47
84.34
86.80
88.64
89.80
86.07
90.75
93.18
97.45
98.73
106.48
111.01
111.35
108.69
112.19
114.44
111.86
111.32
103.39
98.19
100.45

In [65]:
print(rating_new.dtypes)

0
Year           object
TV Viewers     object
Streaming      object
Spanish        object
Out Of Home    object
Total           int64
dtype: object

In [66]:
rating_new['TV Viewers'] = rating_new["TV Viewers"].astype(float)

In [67]:
print(rating_new.dtypes)

0
Year            object
TV Viewers     float64
Streaming       object
Spanish         object
Out Of Home     object
Total            int64
dtype: object

In [91]:
dash = "—"

rating_new['Streaming'] = rating_new["Streaming"].str.replace(r'—$', "0")

In [73]:
rating_new['Spanish'] = rating_new["Spanish"].str.replace(r'—$', "0")
rating_new['Out Of Home'] = rating_new["Out Of Home"].str.replace(r'—$', "0")

In [96]:
rating_new

0     Year   TV Viewers Streaming   Spanish Out Of Home  Total
0   1967.0   24430000.0         0       0.0         0.0      0
1   1967.0   26750000.0         0       0.0         0.0      0
2   1968.0   39120000.0         0       0.0         0.0      0
3   1969.0   41660000.0         0       0.0         0.0      0
4   1970.0   44270000.0         0       0.0         0.0      0
5   1971.0   46040000.0         0       0.0         0.0      0
6   1972.0   56640000.0         0       0.0         0.0      0
7   1973.0   53320000.0         0       0.0         0.0      0
8   1974.0   51700000.0         0       0.0         0.0      0
9   1975.0   56050000.0         0       0.0         0.0      0
10  1976.0   57710000.0         0       0.0         0.0      0
11  1977.0   62050000.0         0       0.0         0.0      0
12  1978.0   78940000.0         0       0.0         0.0      0
13  1979.0   74740000.0         0       0.0         0.0      0
14  1980.0   76240000.0         0       0.0         0.0      0
15  1981.0   68290000.0         0       0.0         0.0      0
16  1982.0   85240000.0         0       0.0         0.0      0
17  1983.0   81770000.0         0       0.0         0.0      0
18  1984.0   77620000.0         0       0.0         0.0      0
19  1985.0   85530000.0         0       0.0         0.0      0
20  1986.0   92570000.0         0       0.0         0.0      0
21  1987.0   87190000.0         0       0.0         0.0      0
22  1988.0   80140000.0         0       0.0         0.0      0
23  1989.0   81590000.0         0       0.0         0.0      0
24  1990.0   73850000.0         0       0.0         0.0      0
25  1991.0   79510000.0         0       0.0         0.0      0
26  1992.0   79590000.0         0       0.0         0.0      0
27  1993.0   90990000.0         0       0.0         0.0      0
28  1994.0   90000000.0         0       0.0         0.0      0
29  1995.0   83420000.0         0       0.0         0.0      0
30  1996.0   94080000.0         0       0.0         0.0      0
31  1997.0   87870000.0         0       0.0         0.0      0
32  1998.0   90000000.0         0       0.0         0.0      0
33  1999.0   83720000.0         0       0.0         0.0      0
34  2000.0   88470000.0         0       0.0         0.0      0
35  2001.0   84340000.0         0       0.0         0.0      0
36  2002.0   86800000.0         0       0.0         0.0      0
37  2003.0   88640000.0         0       0.0         0.0      0
38  2004.0   89800000.0         0       0.0         0.0      0
39  2005.0   86070000.0         0       0.0         0.0      0
40  2006.0   90750000.0         0       0.0         0.0      0
41  2007.0   93180000.0         0       0.0         0.0      0
42  2008.0   97450000.0         0       0.0         0.0      0
43  2009.0   98730000.0         0       0.0         0.0      0
44  2010.0  106480000.0         0       0.0         0.0      0
45  2011.0  111010000.0         0       0.0         0.0      0
46  2012.0  111350000.0    346000       0.0         0.0      0
47  2013.0  108690000.0    508000       0.0         0.0      0
48  2014.0  112190000.0    531000  561000.0         0.0      0
49  2015.0  114440000.0    973000  368000.0         0.0      0
50  2016.0  111860000.0     1.40M  472000.0         0.0      0
51  2017.0  111320000.0     1.72M  650000.0         0.0      0
52  2018.0  103390000.0     2.02M  543000.0  12000000.0      0
53  2019.0   98190000.0      2.6M  473000.0  12000000.0      0
54  2020.0  100450000.0      3.4M  757000.0  13000000.0      0

In [95]:
rating_new['Spanish'] = rating_new["Spanish"].str.replace(r'K$', "000")
rating_new['Streaming'] = rating_new["Streaming"].str.replace(r'K$', "000")
rating_new['Out Of Home'] = rating_new["Out Of Home"].str.replace(r'M$', "000000")
rating_new['Out Of Home'] = rating_new["Out Of Home"].str.replace(r'K$', "000")

rating_new

AttributeError: Can only use .str accessor with string values!

In [108]:
print(rating_new)

0     Year   TV Viewers  Streaming   Spanish  Out Of Home  Total
0   1967.0   24430000.0       0.00       0.0          0.0      0
1   1967.0   26750000.0       0.00       0.0          0.0      0
2   1968.0   39120000.0       0.00       0.0          0.0      0
3   1969.0   41660000.0       0.00       0.0          0.0      0
4   1970.0   44270000.0       0.00       0.0          0.0      0
5   1971.0   46040000.0       0.00       0.0          0.0      0
6   1972.0   56640000.0       0.00       0.0          0.0      0
7   1973.0   53320000.0       0.00       0.0          0.0      0
8   1974.0   51700000.0       0.00       0.0          0.0      0
9   1975.0   56050000.0       0.00       0.0          0.0      0
10  1976.0   57710000.0       0.00       0.0          0.0      0
11  1977.0   62050000.0       0.00       0.0          0.0      0
12  1978.0   78940000.0       0.00       0.0          0.0      0
13  1979.0   74740000.0       0.00       0.0          0.0      0
14  1980.0   76240000.0       0.00       0.0          0.0      0
15  1981.0   68290000.0       0.00       0.0          0.0      0
16  1982.0   85240000.0       0.00       0.0          0.0      0
17  1983.0   81770000.0       0.00       0.0          0.0      0
18  1984.0   77620000.0       0.00       0.0          0.0      0
19  1985.0   85530000.0       0.00       0.0          0.0      0
20  1986.0   92570000.0       0.00       0.0          0.0      0
21  1987.0   87190000.0       0.00       0.0          0.0      0
22  1988.0   80140000.0       0.00       0.0          0.0      0
23  1989.0   81590000.0       0.00       0.0          0.0      0
24  1990.0   73850000.0       0.00       0.0          0.0      0
25  1991.0   79510000.0       0.00       0.0          0.0      0
26  1992.0   79590000.0       0.00       0.0          0.0      0
27  1993.0   90990000.0       0.00       0.0          0.0      0
28  1994.0   90000000.0       0.00       0.0          0.0      0
29  1995.0   83420000.0       0.00       0.0          0.0      0
30  1996.0   94080000.0       0.00       0.0          0.0      0
31  1997.0   87870000.0       0.00       0.0          0.0      0
32  1998.0   90000000.0       0.00       0.0          0.0      0
33  1999.0   83720000.0       0.00       0.0          0.0      0
34  2000.0   88470000.0       0.00       0.0          0.0      0
35  2001.0   84340000.0       0.00       0.0          0.0      0
36  2002.0   86800000.0       0.00       0.0          0.0      0
37  2003.0   88640000.0       0.00       0.0          0.0      0
38  2004.0   89800000.0       0.00       0.0          0.0      0
39  2005.0   86070000.0       0.00       0.0          0.0      0
40  2006.0   90750000.0       0.00       0.0          0.0      0
41  2007.0   93180000.0       0.00       0.0          0.0      0
42  2008.0   97450000.0       0.00       0.0          0.0      0
43  2009.0   98730000.0       0.00       0.0          0.0      0
44  2010.0  106480000.0       0.00       0.0          0.0      0
45  2011.0  111010000.0       0.00       0.0          0.0      0
46  2012.0  111350000.0  346000.00       0.0          0.0      0
47  2013.0  108690000.0  508000.00       0.0          0.0      0
48  2014.0  112190000.0  531000.00  561000.0          0.0      0
49  2015.0  114440000.0  973000.00  368000.0          0.0      0
50  2016.0  111860000.0       1.40  472000.0          0.0      0
51  2017.0  111320000.0       1.72  650000.0          0.0      0
52  2018.0  103390000.0       2.02  543000.0   12000000.0      0
53  2019.0   98190000.0       2.60  473000.0   12000000.0      0
54  2020.0  100450000.0       3.40  757000.0   13000000.0      0

In [84]:
rating_new['TV Viewers'] = rating_new['TV Viewers'] * 1000000
rating_new

0   Year   TV Viewers Streaming Spanish Out Of Home  Total
0   1967   24430000.0         0       0           0      0
1   1967   26750000.0         0       0           0      0
2   1968   39120000.0         0       0           0      0
3   1969   41660000.0         0       0           0      0
4   1970   44270000.0         0       0           0      0
5   1971   46040000.0         0       0           0      0
6   1972   56640000.0         0       0           0      0
7   1973   53320000.0         0       0           0      0
8   1974   51700000.0         0       0           0      0
9   1975   56050000.0         0       0           0      0
10  1976   57710000.0         0       0           0      0
11  1977   62050000.0         0       0           0      0
12  1978   78940000.0         0       0           0      0
13  1979   74740000.0         0       0           0      0
14  1980   76240000.0         0       0           0      0
15  1981   68290000.0         0       0           0      0
16  1982   85240000.0         0       0           0      0
17  1983   81770000.0         0       0           0      0
18  1984   77620000.0         0       0           0      0
19  1985   85530000.0         0       0           0      0
20  1986   92570000.0         0       0           0      0
21  1987   87190000.0         0       0           0      0
22  1988   80140000.0         0       0           0      0
23  1989   81590000.0         0       0           0      0
24  1990   73850000.0         0       0           0      0
25  1991   79510000.0         0       0           0      0
26  1992   79590000.0         0       0           0      0
27  1993   90990000.0         0       0           0      0
28  1994   90000000.0         0       0           0      0
29  1995   83420000.0         0       0           0      0
30  1996   94080000.0         0       0           0      0
31  1997   87870000.0         0       0           0      0
32  1998   90000000.0         0       0           0      0
33  1999   83720000.0         0       0           0      0
34  2000   88470000.0         0       0           0      0
35  2001   84340000.0         0       0           0      0
36  2002   86800000.0         0       0           0      0
37  2003   88640000.0         0       0           0      0
38  2004   89800000.0         0       0           0      0
39  2005   86070000.0         0       0           0      0
40  2006   90750000.0         0       0           0      0
41  2007   93180000.0         0       0           0      0
42  2008   97450000.0         0       0           0      0
43  2009   98730000.0         0       0           0      0
44  2010  106480000.0         0       0           0      0
45  2011  111010000.0         0       0           0      0
46  2012  111350000.0    346000       0           0      0
47  2013  108690000.0    508000       0           0      0
48  2014  112190000.0    531000  561000           0      0
49  2015  114440000.0    973000  368000           0      0
50  2016  111860000.0     1.40M  472000           0      0
51  2017  111320000.0     1.72M  650000           0      0
52  2018  103390000.0     2.02M  543000    12000000      0
53  2019   98190000.0      2.6M  473000    12000000      0
54  2020  100450000.0      3.4M  757000    13000000      0

In [100]:
rating_new['Out Of Home'] = rating_new["Out Of Home"].astype(float)
rating_new['Spanish'] = rating_new["Spanish"].astype(float)
rating_new['Year'] = rating_new["Year"].astype(float)

In [122]:
rating_new['Streaming'] = rating_new["Streaming"].str.replace(r'M$', "")
rating_new['Streaming'] = rating_new["Streaming"].astype(float)

AttributeError: Can only use .str accessor with string values!

In [124]:
rating_new['Total'] = rating_new["Total"].astype(float)
print(rating_new.dtypes)

0
Year           float64
TV Viewers     float64
Streaming      float64
Spanish        float64
Out Of Home    float64
Total          float64
dtype: object

In [130]:
rating_new.loc[50:56]['Streaming'] = rating_new.loc[50:56]['Streaming'] * 1000000

<ipython-input-130-6e6b13a6e452>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rating_new.loc[50:56]['Streaming'] = rating_new.loc[50:56]['Streaming'] * 1000000

In [143]:
rating1 = rating_new.loc[0]['TV Viewers']
rating2 = rating_new.loc[1]['TV Viewers']
ratingtot = rating1 + rating2
print(ratingtot)

51180000.0

In [145]:
rating_new.loc[0]['TV Viewers'] = ratingtot

<ipython-input-145-e0d483f29e48>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rating_new.loc[0]['TV Viewers'] = ratingtot

TypeError: 'DataFrame' object is not callable