In [2]:
import pandas as pd
import json

# Cleaning Wiki SB CSV

In [3]:
wiki_df = pd.read_csv("./Outputs/sb_results_wiki.csv")

In [5]:
# wiki_df.head()

In [ ]:
wiki_df.columns

In [ ]:
clean_wiki = wiki_df.drop(['Unnamed: 0', 'Ref'], axis=1)

In [ ]:
clean_wiki = clean_wiki.drop([54, 55, 56, 57, 58, 59])

In [ ]:
# clean_wiki

In [ ]:
# Run to Export CSV
# clean_wiki.to_csv("./Outputs/Cleaned/[Cleaned]Wiki-Superbowl-Results.csv")

# Cleaning Data.World SB CSV

In [ ]:
dataworld_df = pd.read_csv("./Outputs/data_world_Super_Bowl.csv")

In [ ]:
# dataworld_df

In [ ]:
clean_dataworld_df = dataworld_df.drop(['Referee', 'Umpire', 'Head Linesman', 'Line Judge', 'Field Judge', 'Back Judge', 'Side Judge'], axis=1)

In [ ]:
# clean_dataworld_df

In [ ]:
# Run to export CSV
# clean_dataworld_df.to_csv("./Outputs/Cleaned/[Cleaned]Data.World-Superbowl-Results.csv")

# Cleaning Rating_Data CSV

In [2]:
rating_df = pd.read_csv("./Outputs/rating_data.csv")

In [3]:
# rating_df

In [4]:
new_header = rating_df.iloc[0] #grab the first row for the header=

In [5]:
rating_df = rating_df[1:] #take the data less the header row

In [6]:
rating_df.columns = new_header #set the header row as the df header

In [7]:
rating_df = rating_df.sort_values(by='Year', ascending=True,ignore_index=True)

In [8]:
rating_new = rating_df.drop(rating_df.columns[1:5], axis=1)
# rating_new

In [9]:
rating_new = rating_new.drop(["Vwrs"], axis=1)

In [10]:
# rating_new

In [11]:
rating_new.rename(columns={'TV Vwrs': 'TV Viewers', 'Strm': 'Streaming', 'Spnsh': 'Spanish', 'OOH': 'Out Of Home'}, inplace=True)

In [12]:
total = 0.00
rating_new["Total"] = total

In [13]:
# Must convert to numbers first

# sum_column = rating_new["TV Viewers"] + rating_new["Streaming"]
# rating_new["Total"] = sum_column

rating_new

0   Year TV Viewers Streaming Spanish Out Of Home  Total
0   1967     24.43M         —       —           —    0.0
1   1967     26.75M         —       —           —    0.0
2   1968     39.12M         —       —           —    0.0
3   1969     41.66M         —       —           —    0.0
4   1970     44.27M         —       —           —    0.0
5   1971     46.04M         —       —           —    0.0
6   1972     56.64M         —       —           —    0.0
7   1973     53.32M         —       —           —    0.0
8   1974     51.70M         —       —           —    0.0
9   1975     56.05M         —       —           —    0.0
10  1976     57.71M         —       —           —    0.0
11  1977     62.05M         —       —           —    0.0
12  1978     78.94M         —       —           —    0.0
13  1979     74.74M         —       —           —    0.0
14  1980     76.24M         —       —           —    0.0
15  1981     68.29M         —       —           —    0.0
16  1982     85.24M         —       —           —    0.0
17  1983     81.77M         —       —           —    0.0
18  1984     77.62M         —       —           —    0.0
19  1985     85.53M         —       —           —    0.0
20  1986     92.57M         —       —           —    0.0
21  1987     87.19M         —       —           —    0.0
22  1988     80.14M         —       —           —    0.0
23  1989     81.59M         —       —           —    0.0
24  1990     73.85M         —       —           —    0.0
25  1991     79.51M         —       —           —    0.0
26  1992     79.59M         —       —           —    0.0
27  1993     90.99M         —       —           —    0.0
28  1994     90.00M         —       —           —    0.0
29  1995     83.42M         —       —           —    0.0
30  1996     94.08M         —       —           —    0.0
31  1997     87.87M         —       —           —    0.0
32  1998     90.00M         —       —           —    0.0
33  1999     83.72M         —       —           —    0.0
34  2000     88.47M         —       —           —    0.0
35  2001     84.34M         —       —           —    0.0
36  2002     86.80M         —       —           —    0.0
37  2003     88.64M         —       —           —    0.0
38  2004     89.80M         —       —           —    0.0
39  2005     86.07M         —       —           —    0.0
40  2006     90.75M         —       —           —    0.0
41  2007     93.18M         —       —           —    0.0
42  2008     97.45M         —       —           —    0.0
43  2009     98.73M         —       —           —    0.0
44  2010    106.48M         —       —           —    0.0
45  2011    111.01M         —       —           —    0.0
46  2012    111.35M      346K       —           —    0.0
47  2013    108.69M      508K       —           —    0.0
48  2014    112.19M      531K    561K           —    0.0
49  2015    114.44M      973K    368K           —    0.0
50  2016    111.86M     1.40M    472K           —    0.0
51  2017    111.32M     1.72M    650K           —    0.0
52  2018    103.39M     2.02M    543K         12M    0.0
53  2019     98.19M      2.6M    473K         12M    0.0
54  2020    100.45M      3.4M    757K         13M    0.0

In [14]:
print(rating_new.dtypes)

0
Year            object
TV Viewers      object
Streaming       object
Spanish         object
Out Of Home     object
Total          float64
dtype: object

In [15]:
rating_new['TV Viewers'] = rating_new["TV Viewers"].str.replace(r'M$', '')

In [16]:
rating_new['Streaming'] = rating_new["Streaming"].str.replace(r'K$', '000')

In [17]:
rating_new['Streaming'] = rating_new["Streaming"].str.replace(r'M$', '')

In [18]:
rating_new['Spanish'] = rating_new["Spanish"].str.replace(r'K$', '000')

In [19]:
rating_new['Out Of Home'] = rating_new["Out Of Home"].str.replace(r'M$', '000000')

In [20]:
rating_new['TV Viewers'] = rating_new["TV Viewers"].astype(float) * 1000000

In [21]:
rating_new['Streaming'] = rating_new['Streaming'].str.replace(r'—$', '0.0')

In [22]:
rating_new['Spanish'] = rating_new['Spanish'].str.replace(r'—$', '0.0')

In [23]:
rating_new['Out Of Home'] = rating_new["Out Of Home"].str.replace(r'—$', '0.0')

In [24]:
rating_new['Streaming'] = rating_new["Streaming"].astype(float)

In [25]:
rating_new.loc[50:55, 'Streaming'] = rating_new.loc[50:55, 'Streaming'] * 1000000

In [26]:
rating_new['Spanish'] = rating_new["Spanish"].astype(float)

In [27]:
rating_new['Out Of Home'] = rating_new["Out Of Home"].astype(float)

In [28]:
sb1_tot_viewers = rating_new.loc[0, 'TV Viewers'] + rating_new.loc[1, 'TV Viewers']
sb1_tot_viewers

51180000.0

In [29]:
rating_new.loc[-1] = ["1967", sb1_tot_viewers, 0.0, 0.0, 0.0, sb1_tot_viewers]

In [30]:
rating_new.index = rating_new.index + 1

In [31]:
rating_new = rating_new.sort_index()

In [32]:
rating_new = rating_new.drop([1, 2])

In [33]:
rating_new = rating_new.reset_index()

In [34]:
rating_new = rating_new.drop(['index'], axis=1)

In [35]:
# rating_new.to_csv("./Outputs/Cleaned/[Cleaned]TV-Ratings.csv")

In [44]:
#  JSON Export Test
# result = rating_new.to_json("./Outputs/Cleaned/ratings.json",orient='records')

# JSONify

In [48]:
ratings_to_json = pd.read_csv("./Outputs/Cleaned/[Cleaned]TV-Ratings.csv")

In [50]:
result = ratings_to_json.to_json("./Outputs/Cleaned/tv-ratings.json", orient='records')