In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path

## Import Data and Create Tables

In [2]:
positionPath = Path.cwd() / 'positions.csv'

In [3]:
positions = pd.read_csv(positionPath, header=None)
positions.columns = ['position', 'offenseDefense']

In [4]:
positions.head()

  position offenseDefense
0       QB        offense
1       LB        defense
2       DB        defense
3       WR        offense
4       CB        defense

## Create Database

In [5]:
engine = create_engine('sqlite:///nflDB.db', echo=False)

In [6]:
teams_script = '''
CREATE TABLE "teams" (
  "teamName" varchar,
  "teamAbbrv" varchar PRIMARY KEY,
  "teamState" varchar,
  "teamCity" varchar
);
'''

players_script = '''
CREATE TABLE "players" (
  "playerName" varchar PRIMARY KEY,
  "position" varchar
);
'''

rosters_script = '''
CREATE TABLE "rosters" (
  "teamName" varchar PRIMARY KEY,
  "playerName" varchar,
  "year" integer,
  "salary" double
);
'''

position_script = '''
CREATE TABLE "positions" (
  "position" varchar PRIMARY KEY,
  "offenseDefense" varchar
)
'''

tables = {'teams' : teams_script.strip(),
         'players': players_script.strip(),
         'rosters' : rosters_script.strip(),
         'position' : position_script.strip()}

for table in tables.keys():
    print(f'dropping the table {table} if it already exists...')
    engine.execute(f'drop table IF EXISTS {table}')
for table , script in tables.items():
    print(f'creating the table {table}...')
    engine.execute(f'{script}')

dropping the table teams if it already exists...
dropping the table players if it already exists...
dropping the table rosters if it already exists...
dropping the table position if it already exists...
creating the table teams...
creating the table players...
creating the table rosters...
creating the table position...

OperationalError: (sqlite3.OperationalError) table "positions" already exists
[SQL: CREATE TABLE "positions" (
  "position" varchar PRIMARY KEY,
  "offenseDefense" varchar
)]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [7]:
engine.table_names()

['players', 'positions', 'rosters', 'teams']

In [8]:
try:
    positions.to_sql(name='positions', con=engine, if_exists='append', index=False)
except:
    print("Data is already in there...")

Data is already in there...