In [1]:
import pandas as pd
from pathlib import Path

In [2]:
readpath = Path.cwd() / 'salaryData.csv'
df_salary = pd.read_csv(readpath)
df_salary.head()

    Rk           Player  Pos   Tm   Cap Hit  year
0  1.0       Drew Brees  NaN  NOR  26400000  2015
1  2.0    Philip Rivers  NaN  SDG  21166668  2015
2  3.0   Calvin Johnson  NaN  DET  20558000  2015
3  4.0  Charles Johnson  NaN  CAR  20020000  2015
4  5.0        Matt Ryan  NaN  ATL  19500000  2015

In [3]:
readpath = Path.cwd() / 'playerData.csv'
df_player = pd.read_csv(readpath)
df_player.head()

,Rank,Player,Tm,FantPos,Age,Games,Games Started,Passing Completions,Passing Attempts,Passing Yards,...,Fantasy Points,Fantasy PPR,Fantasy DKPt,Fantasy FDPt,Fantasy VBD,Fantasy Position Rank,Fantasy Overall Rank,year,Unnamed: 32,Unnamed: 33
0,1,Antonio Brown *+,PIT,WR,27,16,16,0,0,0,...,252,388.2,393.2,320.2,125,1,1,2015,NaN,NaN
1,2,Devonta Freeman *,ATL,RB,23,15,13,0,0,0,...,243,316.4,324.4,279.9,123,1,2,2015,NaN,NaN
2,3,Julio Jones *+,ATL,WR,26,16,16,0,0,0,...,239,375.1,379.1,307.1,111,2,3,2015,NaN,NaN
3,4,Adrian Peterson*+,MIN,RB,30,16,16,0,0,0,...,231,260.7,269.7,245.7,110,2,4,2015,NaN,NaN
4,5,Cam Newton*+,CAR,QB,26,16,16,296,495,3837,...,389,389.1,409.1,399.1,105,1,5,2015,NaN,NaN

In [9]:
df_player_trimmed = df_player[['Player', 'Tm', 'FantPos', 'Age']]
df_player_trimmed['Player'] = df_player_trimmed['Player'].str.replace(r'\*', '')
df_player_trimmed['Player'] = df_player_trimmed['Player'].str.replace(r'\+', '')
df_player_trimmed.head(100)

<ipython-input-9-4167e0994179>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_player_trimmed['Player'] = df_player_trimmed['Player'].str.replace(r'\*', '')
<ipython-input-9-4167e0994179>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_player_trimmed['Player'] = df_player_trimmed['Player'].str.replace(r'\+', '')

              Player   Tm FantPos Age
0     Antonio Brown   PIT      WR  27
1   Devonta Freeman   ATL      RB  23
2       Julio Jones   ATL      WR  26
3    Adrian Peterson  MIN      RB  30
4         Cam Newton  CAR      QB  26
..               ...  ...     ...  ..
95       Josh McCown  CLE      QB  36
96       Andrew Luck  IND      QB  26
97    Blaine Gabbert  SFO      QB  26
98       Kamar Aiken  BAL      WR  26
99     Michael Floyd  ARI      WR  26

[100 rows x 4 columns]