In [1]:
import pandas as pd
from pathlib import Path

In [21]:
readpath = Path.cwd() / 'salaryData.csv'
df_salary = pd.read_csv(readpath)
df.head()

    Rk           Player  Pos   Tm   Cap Hit  year
0  1.0       Drew Brees  NaN  NOR  26400000  2015
1  2.0    Philip Rivers  NaN  SDG  21166668  2015
2  3.0   Calvin Johnson  NaN  DET  20558000  2015
3  4.0  Charles Johnson  NaN  CAR  20020000  2015
4  5.0        Matt Ryan  NaN  ATL  19500000  2015