In [2]:
import pandas as pd
from pathlib import Path

In [47]:
readpath = Path.cwd() / 'salaryData.csv'
df_salary = pd.read_csv(readpath)
df_salary.drop(['Rk'],axis=1,inplace=True)
df_salary.head()

            Player  Pos   Tm         City   Cap Hit  year
0       Drew Brees  NaN  NOR  New Orleans  26400000  2015
1    Philip Rivers  NaN  SDG    San Diego  21166668  2015
2   Calvin Johnson  NaN  DET      Detroit  20558000  2015
3  Charles Johnson  NaN  CAR     Carolina  20020000  2015
4        Matt Ryan  NaN  ATL      Atlanta  19500000  2015

In [48]:
readpath = Path.cwd() / 'playerData.csv'
df_player = pd.read_csv(readpath)
df_player.head()

,Rank,Player,Tm,FantPos,Age,Games,Games Started,Passing Completions,Passing Attempts,Passing Yards,...,Fantasy Points,Fantasy PPR,Fantasy DKPt,Fantasy FDPt,Fantasy VBD,Fantasy Position Rank,Fantasy Overall Rank,year,Unnamed: 32,Unnamed: 33
0,1,Antonio Brown *+,PIT,WR,27,16,16,0,0,0,...,252,388.2,393.2,320.2,125,1,1,2015,NaN,NaN
1,2,Devonta Freeman *,ATL,RB,23,15,13,0,0,0,...,243,316.4,324.4,279.9,123,1,2,2015,NaN,NaN
2,3,Julio Jones *+,ATL,WR,26,16,16,0,0,0,...,239,375.1,379.1,307.1,111,2,3,2015,NaN,NaN
3,4,Adrian Peterson*+,MIN,RB,30,16,16,0,0,0,...,231,260.7,269.7,245.7,110,2,4,2015,NaN,NaN
4,5,Cam Newton*+,CAR,QB,26,16,16,296,495,3837,...,389,389.1,409.1,399.1,105,1,5,2015,NaN,NaN

In [49]:
df_player_trimmed = df_player[['Player', 'FantPos', 'Age']]
df_player_trimmed['Player'] = df_player_trimmed['Player'].str.replace(r'\*', '')
df_player_trimmed['Player'] = df_player_trimmed['Player'].str.replace(r'\+', '')
df_player_trimmed.head(100)

<ipython-input-49-129bff3f955f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_player_trimmed['Player'] = df_player_trimmed['Player'].str.replace(r'\*', '')
<ipython-input-49-129bff3f955f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_player_trimmed['Player'] = df_player_trimmed['Player'].str.replace(r'\+', '')

              Player FantPos Age
0     Antonio Brown       WR  27
1   Devonta Freeman       RB  23
2       Julio Jones       WR  26
3    Adrian Peterson      RB  30
4         Cam Newton      QB  26
..               ...     ...  ..
95       Josh McCown      QB  36
96       Andrew Luck      QB  26
97    Blaine Gabbert      QB  26
98       Kamar Aiken      WR  26
99     Michael Floyd      WR  26

[100 rows x 3 columns]

In [50]:
df_salary.dtypes

Player     object
Pos        object
Tm         object
City       object
Cap Hit     int64
year        int64
dtype: object

In [51]:
df_player_trimmed.dtypes

Player     object
FantPos    object
Age        object
dtype: object

In [52]:
df_salary = df_salary.astype({'Cap Hit': 'object', 'year': 'object'})

In [53]:
df_salary.dtypes

Player     object
Pos        object
Tm         object
City       object
Cap Hit    object
year       object
dtype: object

In [61]:
pd.merge(df_salary, df_player_trimmed, on='Player', how='outer')

               Player  Pos   Tm         City   Cap Hit  year FantPos Age
0          Drew Brees  NaN  NOR  New Orleans  26400000  2015      QB  36
1          Drew Brees  NaN  NOR  New Orleans  26400000  2015      QB  37
2          Drew Brees  NaN  NOR  New Orleans  26400000  2015      QB  38
3          Drew Brees  NaN  NOR  New Orleans  26400000  2015      QB  39
4          Drew Brees  NaN  NOR  New Orleans  26400000  2015      QB  40
...               ...  ...  ...          ...       ...   ...     ...  ..
21257   Tommy Stevens  NaN  NaN          NaN       NaN   NaN      QB  24
21258      Tony Jones  NaN  NaN          NaN       NaN   NaN      RB  23
21259   Marken Michel  NaN  NaN          NaN       NaN   NaN     NaN  27
21260  Adrian Killins  NaN  NaN          NaN       NaN   NaN      RB  22
21261  Kendall Hinton  NaN  NaN          NaN       NaN   NaN      WR  23

[21262 rows x 8 columns]

In [65]:
pd.merge(df_salary, df_player_trimmed, how='right', left_on=['Player', 'Pos'], right_on=['Player', 'FantPos'])

                Player  Pos   Tm         City   Cap Hit  year FantPos Age
0           Alex Smith  NaN  KAN  Kansas City  15600000  2015     NaN  33
1           Alex Smith  NaN  WAS   Washington    870000  2015     NaN  33
2         Mike Wallace  NaN  MIN    Minnesota   9900000  2015     NaN  32
3          Nate Solder  NaN  NWE  New England   5604666  2015     NaN  27
4          Nate Solder  NaN  NWE  New England   5604666  2015     NaN  28
...                ...  ...  ...          ...       ...   ...     ...  ..
10443      Kevin White  NaN  NaN          NaN       NaN   NaN     NaN  28
10444  Derrick Willies  NaN  NaN          NaN       NaN   NaN     NaN  26
10445     Caleb Wilson  NaN  NaN          NaN       NaN   NaN     NaN  24
10446   Adrian Killins  NaN  NaN          NaN       NaN   NaN      RB  22
10447   Kendall Hinton  NaN  NaN          NaN       NaN   NaN      WR  23

[10448 rows x 8 columns]

In [78]:
player1 = df_salary['Player']
player2 = df_player_trimmed['Player']
player = pd.concat([player1,player2])
player = pd.DataFrame(player)
player.drop_duplicates(inplace=True)

                Player
count             4062
unique            4062
top     Troymaine Pope
freq                 1

In [101]:
playerpos1 = df_salary[['Player','Pos']]
playerpos2 = df_player_trimmed[['Player', 'FantPos']]
playerpos2.columns=['Player','Pos']

In [103]:
players = pd.merge(player,playerpos1, how='left', on='Player')
players.describe()

             Player   Pos
count         11730  9820
unique         4062    41
top     Chris Jones    WR
freq             15  1160

In [105]:
players = pd.merge(players, playerpos2, how='left', on='Player')
players.head(100)

        Player Pos_x Pos_y Pos
0   Drew Brees   NaN    QB  QB
1   Drew Brees   NaN    QB  QB
2   Drew Brees   NaN    QB  QB
3   Drew Brees   NaN    QB  QB
4   Drew Brees   NaN    QB  QB
..         ...   ...   ...  ..
95  Drew Brees    QB    QB  QB
96  Drew Brees    QB    QB  QB
97  Drew Brees    QB    QB  QB
98  Drew Brees    QB    QB  QB
99  Drew Brees    QB    QB  QB

[100 rows x 4 columns]

In [92]:
playerpos1.head()

            Player  Pos
0       Drew Brees  NaN
1    Philip Rivers  NaN
2   Calvin Johnson  NaN
3  Charles Johnson  NaN
4        Matt Ryan  NaN

In [93]:
playerpos2.head()

             Player FantPos
0    Antonio Brown       WR
1  Devonta Freeman       RB
2      Julio Jones       WR
3   Adrian Peterson      RB
4        Cam Newton      QB

In [116]:
rosters = df_salary.copy()
rosters = rosters.drop(['Pos','City'], axis=1)
cols = list(rosters.columns.values)
cols

['Player', 'Tm', 'Cap Hit', 'year']

In [119]:
rosters = rosters[['Tm','Player','year','Cap Hit']]
writepath = Path.cwd() / 'rosters.csv'
rosters.to_csv(writepath, index=False, header=True)
rosters.head()

    Tm           Player  year   Cap Hit
0  NOR       Drew Brees  2015  26400000
1  SDG    Philip Rivers  2015  21166668
2  DET   Calvin Johnson  2015  20558000
3  CAR  Charles Johnson  2015  20020000
4  ATL        Matt Ryan  2015  19500000