In [35]:
import pandas as pd
from pathlib import Path

## 2020 Player Salary Data - Pro Football Reference

In [36]:
url = 'https://www.pro-football-reference.com/players/salary.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'salaryData2020.csv'
df['year'] = '2020'
df.to_csv (writepath, index = False, header=True)
df.head()

    Rk           Player Pos   Tm       Salary  year
0  1.0     Dak Prescott  QB  DAL  $31,409,000  2020
1  2.0  Jimmy Garoppolo  QB  SFO  $23,800,000  2020
2  3.0      Trent Brown  OT  LVR  $21,250,000  2020
3  4.0       Derek Carr  QB  LVR  $18,900,000  2020
4  5.0   Russell Wilson  QB  SEA  $18,000,000  2020

## 2019 Player Salary Data - Pro Football Reference

In [37]:
url = 'https://web.archive.org/web/20200330082855/https://www.pro-football-reference.com/players/salary.htm'
df = pd.read_html(url)[2]
writepath = Path.cwd() / 'salaryData2019.csv'
df['year'] = '2019'
df.to_csv (writepath, index = False, header=True)
df.head()

    Rk          Player Pos   Tm       Salary  year
0  1.0    Kirk Cousins  QB  MIN  $27,500,000  2019
1  2.0  Marcus Mariota  QB  TEN  $20,922,000  2019
2  NaN  Jameis Winston  QB  TAM  $20,922,000  2019
3  4.0      Derek Carr  QB  OAK  $19,900,000  2019
4  5.0      Joe Flacco  QB  DEN  $18,500,000  2019

## 2018 Player Salary Data - Pro Football Reference

In [38]:
url = 'https://web.archive.org/web/20190201121914/https://www.pro-football-reference.com/players/salary.htm'
df = pd.read_html(url)[2]
writepath = Path.cwd() / 'salaryData2018.csv'
df['year'] = '2018'
df.to_csv (writepath, index = False, header=True)
df.head()

    Rk             Player Pos   Tm       Salary  year
0  1.0       Kirk Cousins  QB  MIN  $22,500,000  2018
1  2.0  Demarcus Lawrence  DE  DAL  $17,143,000  2018
2  NaN      Ezekiel Ansah  DE  DET  $17,143,000  2018
3  4.0     Russell Wilson  QB  SEA  $15,500,000  2018
4  5.0    Calais Campbell  DE  JAX  $15,000,000  2018

## 2017 Player Salary Data - Pro Football Reference

In [39]:
url = 'https://web.archive.org/web/20180720053649/https://www.pro-football-reference.com/players/salary.htm'
df = pd.read_html(url)[2]
writepath = Path.cwd() / 'salaryData2017.csv'
df['year'] = '2017'
df.to_csv (writepath, index = False, header=True)
df.head()

    Rk            Player Pos   Tm      Cap Hit  year
0  1.0      Kirk Cousins  QB  WAS  $23,943,600  2017
1  2.0  Trumaine Johnson  CB  LAR  $16,742,400  2017
2  3.0        Von Miller  LB  DEN  $16,500,000  2017
3  NaN       Josh Norman  CB  WAS  $16,500,000  2017
4  5.0    Justin Houston  LB  KAN  $16,350,000  2017

## 2016 Player Salary Data - Pro Football Reference

In [40]:
url = 'https://web.archive.org/web/20170120204404/https://www.pro-football-reference.com/players/salary.htm'
df = pd.read_html(url)[2]
writepath = Path.cwd() / 'salaryData2016.csv'
df['year'] = '2016'
df.to_csv (writepath, index = False, header=True)
df.head()

    Rk              Player Pos   Tm      Cap Hit  year
0  1.0  Ben Roethlisberger  QB  PIT  $23,950,000  2016
1  2.0           Matt Ryan  QB  ATL  $23,750,000  2016
2  3.0          Joe Flacco  QB  BAL  $22,550,000  2016
3  4.0        Kirk Cousins  QB  WAS  $19,953,000  2016
4  5.0          Cam Newton  QB  CAR  $19,500,000  2016

## 2015 Player Salary Data - Pro Football Reference

In [41]:
url = 'https://web.archive.org/web/20160226102012/https://www.pro-football-reference.com/players/salary.htm'
df = pd.read_html(url)[2]
writepath = Path.cwd() / 'salaryData2015.csv'
df['year'] = '2015'
df.to_csv (writepath, index = False, header=True)
df.head()

    Rk       Unnamed: 1   Tm      Cap Hit  year
0  1.0       Drew Brees  NOR  $26,400,000  2015
1  2.0    Philip Rivers  SDG  $21,166,668  2015
2  3.0   Calvin Johnson  DET  $20,558,000  2015
3  4.0  Charles Johnson  CAR  $20,020,000  2015
4  5.0        Matt Ryan  ATL  $19,500,000  2015

## 2020 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2020/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'playerData2020.csv'
df['year'] = '2020'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2019 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2019/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'playerData2019.csv'
df['year'] = '2019'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2018 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2018/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'playerData2018.csv'
df['year'] = '2018'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2017 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2017/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'playerData2017.csv'
df['year'] = '2017'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2016 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2016/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'playerData2016.csv'
df['year'] = '2016'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2015 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2015/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'playerData2015.csv'
df['year'] = '2015'
df.to_csv (writepath, index = False, header=True)
df.head()